<h1>{{title}}</h1>

<a class="block button" href="#" ng-click="addStudent=!addStudent">Añadir Estudiante</a>
<span ng-include="'assets/templates/student/edit.html'"  ng-show="addStudent" ></span>
<div class="grid">
    <div class="card g-3" ng-repeat="s in students">
        <h1>{{s.name}} {{s.surnames}}</h1>
        <div> {{s.dni}}</div>
        <h2>Contacto</h2>
        <div>{{s.phone}}</div>
        <div>{{s.email}}</div>
        <div class="card-footer">
            <div class="card-footer-left">
                <a class="button" href="student/{{s._id}}/edit">Editar</a>
            </div>
            <div class="card-footer-right">
                <a class="button" href="#" ng-click="delete(s._id)">Borrar</a>
            </div>
        </div>
    </div>
</div>
