table{
  width:100%;
  font-size:0.85em;
  border-collapse: collapse;
  box-shadow: box-shadow('soft');
}
thead{
  border-radius:5px;
  background-color: $color_4_base;
  color: $color_2_base;
  tr{
    td{
      padding:15px;
    }
  }
}

tbody{
  tr{
    td{
      padding:25px;
    }
    &:nth-child(odd){
      background-color: tint($color_3_base,95);
    }
  }
}